In [3]:
import pandas as pd

In [4]:
dfs = []
for i in range(20):
    dfs.append(pd.read_pickle(f"df{i}.pkl"))
dfs.append(pd.read_pickle(f"dfFailed.pkl"))

In [5]:
games_df = pd.concat(dfs, ignore_index=True, sort=False)

In [7]:
games_df.head()

,name,type,steam_appid,developers,publishers,is_free,price_overview initial,achievements total,release_date date,metacritic score,...,Genre: Web Publishing,Genre: Accounting,Genre: Video Production,Genre: Game Development,Genre: Photo Editing,Genre: Documentary,Genre: Episodic,Genre: Short,Genre: Tutorial,Genre: 360 Video
0,Counter-Strike,game,10,[Valve],[Valve],False,999.0,NaN,"Nov 1, 2000",88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Team Fortress Classic,game,20,[Valve],[Valve],False,499.0,NaN,"Apr 1, 1999",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Day of Defeat,game,30,[Valve],[Valve],False,499.0,NaN,"May 1, 2003",79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deathmatch Classic,game,40,[Valve],[Valve],False,499.0,NaN,"Jun 1, 2001",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Half-Life: Opposing Force,game,50,[Gearbox Software],[Valve],False,499.0,NaN,"Nov 1, 1999",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
games_df.to_pickle("games_df.pkl")